*.log
*.o
*.vmx.lck
*.vmsd
*.vmxf
core
nvram

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


# Compiled
*.obj
*.o
*.d
*.dump


#Dir
Demo_Example/
obj/
Tcp/
old/
xxx/
bin/
old/
*.wdat
_out/

*.vmxf
*.vmsd
*.log
nvram
